@using System.Configuration
@using System.Web.Mvc.Html
@using WebDbApp.Models
@model StudentViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <label>Input first name</label>
            @Html.TextBoxFor(x => x.FirstName)<br />
            <label>Input second name</label>
            @Html.TextBoxFor(x => x.SecondName)<br />
            <label>Input faculty</label>
            @Html.TextBoxFor(x => x.FacultyId)<br />
            <label>Input overal mark</label>
            @Html.TextBoxFor(x => x.OveralMark)<br />
            <input type="submit" value="Save" /><br />
            <p>Version is: @ViewBag.Version</p>
        }
    </div>
    <div>
        <table style="width:100%;">
            @foreach (StudentViewModel record in ViewBag.Students)
            {
                <tr>
                    <td>@record.FirstName</td>
                    <td>@record.SecondName</td>
                    <td>@record.FacultyId</td>
                    <td>@record.OveralMark</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
